/* a new font I'd like to try out */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
html {
    background-color: #FF94C4;
}
/* navigation adjustment all the way to the right */
nav {
    text-align: left;
    margin-bottom: 10px;
}
/* adding a space between the nav buttons */
nav a {
    text-decoration: none;
}
/* all text elements */
body {
    width: 550px;
    margin: auto;
    padding: 30px;
    font-family: "M PLUS 1p", sans-serif;
    color: #FFFFFF;
    background-color: black;
}
h1, h2, p {
    color: #FFFFFF;
}
/* unvisited link color */
a:link {
    color: #FF7ABF;
}
/* visited link */
a:visited {
    color: #AAAAAA;
}
/* hovering over text */
a:hover {
    color: white;
    font-weight: bold;
}
