/* a new font I'd like to try out */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
html {
    background-color: #FF94C4;
}
/* all text elements */
body, p, h1 {
    background-color: black;
    color: white;
    width: 550px;
    margin: auto;
    padding: 30px;
    font-family: "M PLUS 1p", sans-serif;
}
/* unvisited link color */
a:link {
    color: #FF7ABF;
}
/* visited link */
a:visited {
    color: #545454;
}
/* hovering over text */
a:hover {
    color: white;
    font-weight: bold;
}
