html {
    background-color: #FFE5F1;
}
body {
    width: 550px;
    margin: auto;
    font-family: arial, sans-serif;
    font-color: black;
    background-color: white;
}
section {
    background-color: pink;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
// text material
h1 {
    font-family: arial, sans-serif;
}
// unvisited link color
a {
    color: #FF7ABF;
}
// visited link
a:visited {
    color: #545454;
}
// hovering over text
a:hover {
    font-weight: bold;
}
